@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Metrophobic&display=swap');

:root {
    --header-items-height: 50px;
    --header-padding: 5%;
    --body-items: #2E2E2E;
    --body-items-opacity: .7;
    --body-items-radius: 10px;
}

a {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Metrophobic', sans-serif;
}

body {
    height: 200vh;
}

#top-content {
    height: calc(100% / 2);
    background: linear-gradient(to bottom, #8A6297, #2c2b2c);
}

#bottom-content {
    height: calc(100% / 2);
    background-color: #2c2b2c;
}

header {
    display: flex;
    height: 20vh;
    margin-bottom: 3%;
}

#sec-left {
    display: flex;
    height: 100%;
    width: 50%;
    background-color: transparent;
    align-items: center;
    padding-left: var(--header-padding);
}

.logo > img {
    height: var(--header-items-height);
}

#sec-right{
    background-color: transparent;
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: right;
    padding-right: var(--header-padding);
}

.profile {
    height: var(--header-items-height);
    width: var(--header-items-height);
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile > img {
    height: 100%;
    border-radius: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
    justify-content: space-between;
}

.row-title {
    font-size: 14px;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#column-left {
    width: 21%;
    height: 200px;
}

#column-right {
    width: 77%;
    height: 200px;
}

#row-one {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#row-two {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#column-left > #row-one > #row-one-content {
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: var(--body-items);
    opacity: var(--body-items-opacity);
    border-radius: 10px;
}

#column-right > #row-two > #row-two-content {
    height: 160px;
    display: flex;
    flex-direction:row; /*lembrar de apagar*/
    background-color: var(--body-items);
    opacity: var(--body-items-opacity);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

#row-two-content {
    overflow-x: hidden;
}

.carousel-control:first-child{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carousel-control:last-child{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: right;
}

.carousel-control > svg {
    font-size: 35px;
    fill: white;
}

