:root {
    --search-items-height: 50px
}

.search {
    position: relative;
    width: var(--search-items-height);
    height: var(--search-items-height);
    background: #fff;
    border-radius: var(--search-items-height);
    transition: 0.5s;
    margin-right: 7%;
    overflow: hidden;
}

.search.active {
    width: 300px;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--search-items-height);
    height: var(--search-items-height);
    background: #fff;
    border-radius: var(--search-items-height);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid grey;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    background: grey;
    height: 12px;
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
    position: relative;
    width: 300px;
    height: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--search-items-height) - 20px - 7%); /* Ajuste os valores conforme necessário */
    max-width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px 0 10px;
    background-color: white;
    overflow: hidden;
}

.clear {
    position: absolute;
    top: 38%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: black;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: black;
    transform: rotate(315deg);
}