@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Metrophobic&display=swap');

:root {
    --header-items-height: 50px;
    --header-padding: 5%;
    --body-items: #2E2E2E;
    --body-items-opacity: .7;
    --body-items-radius: 5px;
}

a {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Metrophobic', sans-serif;
}

body {
    height: 200vh;
}

#top-content {
    height: calc(100% / 2);
    background: linear-gradient(to bottom, #8A6297, #2c2b2c);
}

#bottom-content {
    height: 100vh;
    background-color: #2c2b2c;
}

header {
    display: flex;
    height: 20vh;
    margin-bottom: 3%;
    padding: 0 var(--header-padding) 0 var(--header-padding);
}

#sec-left {
    display: flex;
    height: 100%;
    width: 50%;
    background-color: transparent;
    align-items: center;
}

.logo > img {
    height: var(--header-items-height);
}

#sec-right{
    background-color: transparent;
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: right;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}

.row-title {
    font-size: 14px;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#column-left {
    width: 21%;
    height: 200px;
}

#column-right {
    width: 77%;
    height: 200px;
}

#row-one {
    display: flex;
    flex-direction: column;
}

#row-two {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#column-right > #row-two > #row-two-content {
    height: 160px;
    display: flex;
    flex-direction:row; /*lembrar de apagar*/
    background-color: var(--body-items);
    opacity: var(--body-items-opacity);
    border-radius: var(--body-items-radius);
    align-items: center;
    justify-content: space-between;
}

#row-two-content {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a9a9a9;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #d3d3d3 transparent;
}
