:root {
  --swiper-items-radius: 7px;
}

.carousel-control:first-child{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel-control:last-child{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: right;
}

.carousel-control > svg {
  font-size: 35px;
  fill: white;
}

.carousel-control {
  height: 100%;
}

.container-divs {
    height: 100%;
    width: 80%;
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: space-between;
}

.slider {
    height: 80%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide {
  align-items: center;
}

.img_box {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img_box img {
  height: 100%;
  width: 75px;
  border-radius: var(--swiper-items-radius);
}

.text_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

.artist-name {
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
}

.real-name {
  color: #BABABA;
  font-weight: bold;
  font-size: 12px;

}

